._href {
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      color: $blueColor;
    }
  }
}

.line {
  height: 22px;
  width: 1px;
  background: $blueColor;
  margin-top: 8px;
}

._hidden {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
  width: 0 !important;
  pointer-events: none;
}

._title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 26px;
  color: #3567AC;
  margin-top: 30px;
}

._btnHover {
  transition: all 0.3s ease 0s;
  
  @media (any-hover: hover) {
    &:hover {
      background: $blueColor;
    }
  }
  
  &:active, &:focus {
    background: #3567AC;
  }
}

#filtrBtn {
  cursor: pointer;
}

._hhv {
  transition: all 0.3s ease 0s;
  
  @media (any-hover: hover) {
    &:hover {
      background: #3567AC;
    }
  }
  
  &:active, &:focus {
    background: #3567AC;
  }
}

._whiteBtn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3567AC;
  border: 1px solid #80A4DE;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 9px 20px;
  transition: all 0.3s ease 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
  span {
    margin-right: 6px;
    padding-top: 2px;
  }
  
  path {
    transition: all 0.3s ease 0s;
  }
  
  @media (any-hover: hover) {
    &:hover {
      background-color: $blueColor;
      color: white;
      
      path {
        fill: white;
        stroke: white;
      }
    }
  }
  
  &:disabled {
    border: 1px solid #C3DAFF;
    color: #C3DAFF;
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid #C3DAFF;
        color: #C3DAFF;
        background-color: white;
        
        path {
          fill: $blueColor;
          stroke: $blueColor;
        }
      }
    }
  }
}

._blueBtn {
  background: #80A4DE;
  border-radius: 8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 9px 20px;
  transition: all 0.3s ease 0s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  span {
    margin-right: 5px;
    padding-top: 3px;
  }
  
  @media (any-hover: hover) {
    &:hover {
      background: #3567AC;
    }
  }
  
  &:disabled {
    background: #C3DAFF;
    @media (any-hover: hover) {
      &:hover {
        background: #C3DAFF;
      }
    }
  }
}

.select__input {
  padding: 0 !important;
  border: none !important;
  color: $blackBlueColor;
  font-size: 14px;
  line-height: 17px;
  
  &::placeholder {
    border-radius: 8px;
    padding: 10px 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $blackBlueColor;
  }
}

#fixBtnOrder {
  cursor: pointer !important;
}

.input {
  border: 0.5px solid #80A4DE;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  
  &::placeholder {
    color: #80A4DE;
  }
  
  &._focus {
    border: 0.5px solid $blackBlueColor;
  }
  
  &._error {
    border: 1px solid rgba(224, 99, 99, 0.98);
  }
  
  &::placeholder{
    transition: color 0.3s ease 0s;
  }
  
  @media (any-hover: hover) {
    &:hover {
      border: 0.5px solid $blackBlueColor;
      color: $blackBlueColor;
  
      &::placeholder {
        color: $blackBlueColor;
      }
    }
  }
}

textarea {
  resize: vertical;
}

._blueText {
  color: #3567AC;
  
  @media (any-hover: hover) {
    &:hover {
      color: #80A4DE;
    }
  }
  
  &:active {
    color: #3567AC;
  }
}

._warning {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: #3567AC;
}
