.notificationService {
  
  &__body {
    margin-bottom: 20px;
  }
  
  &__addBtn {
    margin-top: 20px;
  }
  
  &__warning {
    margin-top: 20px;
    
    a {
      color: $blueColor;
      transition: color 0.2s ease 0s;
      
      @media (any-hover: hover){
        &:hover{
          color: $blackBlueColor;
        }
      }
    }
  }
}

.choose-notificationService {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  
  &__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    margin-right: 25px;
  }
}
