.sizeGuide {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 80px;

  a {
    color: $blueColor;

    @media (any-hover: hover) {
      &:hover {
        color: $blackBlueColor;
      }
    }
  }

  &__container {
  }

  &__title {
  }

  &__body {
  }

  &__text {
    margin-bottom: 25px;
  }
}

.line-sizeGuide {
  display: flex;
  align-items: flex-start;
  gap: 23px;
  margin-bottom: 25px;

  &__img {
    flex: 0 0 35.91%;
    display: flex;
    cursor: pointer;
    border: 1px solid #80A4DE;
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      transition: transform 0.3s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          transform: scale(1.3);
        }
      }
    }
  }

  &__text {
  }
}

.table-sizeGuide {
  margin-bottom: 25px;


  &__title {
    font-weight: 700;
    color: #3567AC;
    margin-bottom: 15px;
  }

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #80A4DE;
    font-weight: 500;
    color: #000000;

    thead {
      tr {
        background: #E9F1FF;
      }
    }

    td, th {
      padding: 8px 20px;
      border: 1px solid #80A4DE;
      vertical-align: text-top;
      text-align: left;
      font-weight: 500;

      &:first-child {
        background: #E9F1FF;
      }
    }
  }

  &._standard {
    table {
      td, th {
        &:first-child {
          width: 33.3%;
        }

        width: 11.13%;
      }
    }
  }

  &._Ñhinese {
    table {
      td, th {
        &:first-child {
          width: 12.17%;
          word-break: break-all;
          word-wrap: break-word;
        }

        &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7) {
          width: 14.6%;
        }

        &:nth-child(4), &:nth-child(5) {
          width: 14.69%;
        }
      }
    }
  }

  &._shoes {
    table {
      td, th {
        &:first-child {
          width: 24.78%;
        }

      }
    }
  }

}

.handbook-sizeGuide {

  &__title {
  }

  &__body {
  }

  ol {
    margin-top: 20px;

    li {
      margin-bottom: 15px;
    }

    //1.
    & > li {
      color: $blackBlueColor;
      font-weight: 700;

      //1.2
      & > ol > li {
        font-weight: 500;

        //1.2.3
        & > ol > li {

          //1.2.3.4
          & > ol > li {
            color: black;
          }
        }
      }
    }

    &._addMark {
      & > li {
        color: $blackBlueColor;
      }
    }
  }

  &__note {

  }

  &__text {
    margin-bottom: 20px;

    &._warning {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
